.card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transform: translateY(-2px);
}

.card {
  border: 1px solid #eaeaea;
  display: block;
  text-decoration: none;
  color: unset;
}

.card:hover {
  color: unset;
}

.cardImage {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.truncateMultiline {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
}

.navArrow {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.card:hover .navArrow {
  color: var(--ifm-color-primary);
}