.containerScroll {
  max-height: 300px;
  overflow-y: auto;
  /* hide scroll bar */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media screen and (min-width: 997px) {
  .swipeCardDesktop {
    display: block;
  }
  .swipeCardMobile {
    display: none;
  }
}

@media screen and (max-width: 996px) {
  .swipeCardMobile {
    display: block;
  }
  .swipeCardDesktop {
    display: none;
  }
}