/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
  height: 25rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 468px) {
  :root {
    min-width: 323px;
  }
  .heroBanner {
    text-align: center;
    padding: 0;
  }
  .hero__title {
    white-space: nowrap;
    word-wrap: unset;
  }
  .buttons {
    flex-direction: column;
    box-sizing: border-box;
  }
}