/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3a80f7;
  --ifm-color-primary-dark: #2a75f6;
  --ifm-color-primary-darker: #196bf6;
  --ifm-color-primary-darkest: #0a61f4;
  --ifm-color-primary-light: #4a8bf8;
  --ifm-color-primary-lighter: #5b95f8;
  --ifm-color-primary-lightest: #6ba0f9;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  a {
    text-decoration: none;
  }
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #6ba0f9;
  --ifm-color-primary-dark: #5b95f8;
  --ifm-color-primary-darker: #4a8bf8;
  --ifm-color-primary-darkest: #3a80f7;
  --ifm-color-primary-light: #7baafa;
  --ifm-color-primary-lighter: #8cb5fa;
  --ifm-color-primary-lightest: #9cbffb;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

[data-theme='light'] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(-26.5deg,
      var(--ifm-color-emphasis-200) 0%,
      var(--ifm-color-emphasis-100) 100%);
}

/* css/custom.css */
.team-members-table {
  margin-top: 2rem;
  overflow-x: auto;
  /* Add horizontal scroll for smaller screens */
  font-family: 'Arial', sans-serif;
  border: none;
  display: inline-block;
}

.team-members-table table {
  margin-bottom: 0;
}

.team-members-table th,
.team-members-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  transition: background-color 0.3s ease;
  display: table-cell;
  vertical-align: middle;
}

.team-members-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
  border-bottom: 2px solid #ddd;
}

.team-members-table tr:hover {
  background-color: #f2f2f2;
}

.team-members-table img {
  max-width: 80px;
  /* Increase the size */
  height: auto;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-members-table a {
  color: #007bff;
  text-decoration: none;
}

.team-members-table a:hover {
  text-decoration: underline;
}

/* Additional styling */
.team-members-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.team-members-table tbody tr:first-child {
  background-color: #fff;
}

.team-members-table tbody tr:last-child {
  border-bottom: 2px solid #ddd;
}

.team-members-table .name-column {
  font-size: 1.1em;
  font-weight: 600;
  white-space: nowrap;
  /* Prevent text from wrapping */
}

.team-members-table .company-column {
  font-size: 0.9em;
  color: #777;
}

.team-members-table .github-id-column {
  color: #007bff;
  font-weight: bold;
  white-space: nowrap;
}

.team-members-table .email-column {
  font-size: 0.9em;
  color: #555;
}

.team-members-table .community-role-column {
  font-style: italic;
}

/* Add some hover effects */
.team-members-table tbody tr:hover td {
  background-color: #f2f2f2;
}

.team-members-table tbody tr:hover .avatar-column img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/* Add shadows and transitions */
.team-members-table {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-members-table th,
.team-members-table td {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Add a little bit of animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.team-members-table {
  animation: fadeIn 1s ease;
}

.team-members-table .avatar-column {
  width: 10%;
  /* Adjust the width to fit the larger images */
}

.team-members-table .name-column,
.team-members-table .company-column,
.team-members-table .github-id-column,
.team-members-table .email-column,
.team-members-table .community-role-column {
  width: 18%;
  /* Adjust the width to fit the columns */
}